<div id="loginModal" class="login-modal">
  <div class="heading">
    <h1>Welcome to ChenChat</h1>
    <h2>欢迎来到 ChenChat</h2>
  </div>
  <div id="err" class="err">
    <p>Please enter a valid name.</p>
    <p>请输入一个有效的名字。</p>
  </div>
  <p id="err" class="err">Please enter a valid name.</p>
  <form id="login" action="">
    <label for="name">Name (名称):</label>
    <input autofocus id="name" autocomplete="off">
    <br>
    <label>Language (语言):</label>
    <br>
    <input type="radio" name="lang" value="en" checked>English
    <input type="radio" name="lang" value="zh-CN">中文
    <br>
    <button>Start (开始)</button>
  </form>
</div>
<div id="overlay" class="overlay"></div>

<ul id="messages"></ul>
<form id="chatInput" action="">
  <input id="m" autocomplete="off">
  <button>Send (开始)</button>
</form>

<div>
  <ul id="activeUsers" class="active-users"></ul>
</div>
