<!--Modal-->
<div id="loginModal" class="login-modal">
  <div class="heading">
    <h1>Welcome to Chinglish.</h1>
    <h2 class="zh-CN">欢迎来到中式英语。</h2>
  </div>
  <div id="err" class="err">
    <p>Please enter a valid name.</p>
    <p>请输入一个有效的名字。</p>
  </div>
  <p id="err" class="err">Please enter a valid name.</p>
  <form id="login" action="">

    <div class="name-section form-group">
      <label class="section-label" for="name">Name <span class="zh-CN">名称</span> :</label>
      <input class="form-control" autofocus id="name" autocomplete="off">
    </div>

    <div class="lang-section">
      <label class="section-label" >Your Language <span class="zh-CN">你的语言</span> :</label>
      <label class="lang-option">
        <input type="radio" name="lang" value="en" checked>ENGLISH
      </label>
      <br>
      <label class="lang-option">
        <input type="radio" name="lang" value="zh-CN">中文
      </label>
    </div>

    <button class="btn btn-primary">Start 开始</button>
  </form>
</div>
<div id="overlay" class="overlay"></div>

<!-- Main -->
<div id="sidebar" class="sidebar">
  <div class="content">
    <h2 class="logo">Chinglish <span class="zh-CN">中式英语</span></h2>
    <h4>Active <span class="zh-CN">活性 </span><span class="active-count"></span></h4>
    <ul id="activeUsers" class="active-users"></ul>
  </div>
</div>

<div class="main">
  <div class="top-bar">
    <h2 class="logo">Chinglish <span class="zh-CN">中式英语</span></h2>
    <button class="btn-sidebar" onclick="toggleSidebar()">
      <span>
        <img src="/img/people.jpg" alt="active-people">
        <h4><span class="active-count"></span></h4>
      </span>
    </button>
  </div>
  <ul id="messages" class="msg-container"></ul>
  <form id="chatInput" action="">
    <div class="input-section">
      <input class="form-control" id="m">
      <button class="btn-send">
        <img src="/img/send.png" alt="send">
      </button>
    </div>
  </form>
</div>
